In [121]:
import pandas as pd
import re
from datetime import datetime

In [61]:
df = pd.read_csv("orders.csv")
df_ab = pd.read_csv('abandoned.csv')

df.head()

,Name,Email,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,...,Tax 5 Value,Phone,Receipt Number,Duties,Billing Province Name,Shipping Province Name,Payment ID,Payment Terms Name,Next Payment Due At,Payment References
0,#195763,jasonstuart930@gmail.com,paid,2023-02-15 08:24:52 -0800,fulfilled,2023-02-15 10:46:42 -0800,yes,USD,235.94,22.76,...,NaN,NaN,NaN,NaN,Kentucky,Kentucky,c27962692075603.1,NaN,NaN,c27962692075603.1
1,#195763,jasonstuart930@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,#195764,brian@rossmgt.com,paid,2023-02-15 08:40:31 -0800,fulfilled,2023-02-15 10:54:12 -0800,yes,USD,346.43,35.53,...,NaN,NaN,NaN,NaN,Washington,Washington,c27958684188755.1,NaN,NaN,c27958684188755.1
3,#195764,brian@rossmgt.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,#195764,brian@rossmgt.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# make tables

In [199]:
def Make_Order_Table(df):
    order = df[
        [    'Name','Created at','Financial Status', 'Paid at', 'Fulfillment Status', 
             'Fulfilled at','Accepts Marketing', 'Currency', 'Subtotal', 'Shipping',
             'Taxes','Total', 'Discount Code', 'Discount Amount', 'Shipping Method',
             'Billing Name', 'Billing Address1', 'Billing Address2', 
             'Billing City', 'Billing Zip', 'Billing Province', 'Billing Country',
             'Billing Phone', 'Shipping Name', 'Shipping Address1', 
             'Shipping Address2', 'Shipping City', 'Shipping Zip',
             'Shipping Province', 'Shipping Country', 'Shipping Phone', 'Notes',
             'Payment Method']
    ].copy()

    order['Name'] = order['Name'].str.replace("#", "")
    order['Name'] = order["Name"].drop_duplicates()
    order = order[order["Name"].notna()]
    order.rename(columns =
                    {
                        'Name':'order_id',
                        'Created at':'created_at',
                        'Financial Status':'financial_status',
                        'Paid at':'paid_at',
                        'Fulfillment Status':'fulfillment_status', 
                        'Fulfilled at':'fulfilled_at',
                        'Accepts Marketing':'accepts_marketing',
                        'Currency':'currency',
                        'Subtotal':'subtotal',
                        'Shipping':'shipping',
                        'Taxes':'taxes',
                        'Total':'total',
                        'Discount Code':'discount_code',
                        'Discount Amount':'discount_amount',
                        'Shipping Method':'shipping_method',
                        'Billing Name': 'billing_name',
                        'Billing Address1':'billing_address1',
                        'Billing Address2':'billing_address2',
                        'Billing City':'billing_city',
                        'Billing Zip':'billing_zip',
                        'Billing Province':'billing_province',
                        'Billing Country': 'billing_country',
                        'Billing Phone':'billing_phone',
                        'Shipping Name':'shipping_name',
                        'Shipping Address1' : 'shipping_address1',
                        'Shipping Address2' : 'shipping_address2',
                        'Shipping City':'shipping_city',
                        'Shipping Zip':'shipping_zip',
                        'Shipping Province':'shipping_province',
                        'Shipping Country':'shipping_country',
                        'Shipping Phone':'shipping_phone', 
                        'Notes':'notes',
                        'Payment Method':'payment_method',    
                    }, 
                    
                    inplace = True
                   )
    order.reset_index(drop = True, inplace = True)

    # Convert to datetime object and remove timezone info
    order['created_at'] = pd.to_datetime(order['created_at']).dt.tz_localize(None)
    order['paid_at'] = pd.to_datetime(order['paid_at']).dt.tz_localize(None)
    order['fulfilled_at'] = pd.to_datetime(order['paid_at']).dt.tz_localize(None)
    
    # Format as string in desired format
    order['created_at'] = order['created_at'].dt.strftime('%Y-%m-%d %H:%M:%S')
    order['paid_at'] = order['paid_at'].dt.strftime('%Y-%m-%d %H:%M:%S')
    order['fulfilled_at'] = order['fulfilled_at'].dt.strftime('%Y-%m-%d %H:%M:%S')

    # Fill NaN values
    order['created_at'] = order['created_at'].fillna('2020-01-01 00:00:00')
    order['paid_at'] = order['paid_at'].fillna('2020-01-01 00:00:00')
    order['fulfilled_at'] = order['fulfilled_at'].fillna('2020-01-01 00:00:00')
    order['discount_code'] = order['discount_code'].fillna(0)
#     order['notes'] = order['notes'].fillna('null')
#     order['payment_method'] = order['payment_method'].fillna('null')
#     order['shipping_address2'] = order['shipping_address2'].fillna('null')
    
    return order

def Make_Customer_Table(df):
    customer = df[
        ['Email', 'Billing Name', 'Billing Province']
    ].copy()
    
    customer['Email'] = customer["Email"].drop_duplicates()
    customer = customer[customer["Email"].notna()]
    customer.rename(columns = {
                            'Email':'email',
                            'Billing Name':'full_name',
                            'Billing Province':'location'
                    },                    
                    inplace=True
                   )
    
    customer['full_name'] = customer['full_name'].fillna('0')
    customer.reset_index(drop=True, inplace=True)   
    return customer

def Make_Product_Table(df):
    product = df[
        ['Lineitem sku', 'Lineitem name', 'Lineitem price',
         'Lineitem compare at price','Lineitem requires shipping',
         'Lineitem taxable','Lineitem fulfillment status']
    ].copy()
    
    product['Lineitem name'] = product["Lineitem name"].drop_duplicates()
    product = product[product["Lineitem name"].notna()]
    product['Lineitem price'] = product["Lineitem price"].drop_duplicates()
    product = product[product["Lineitem price"].notna()]
    product.reset_index(drop=True, inplace=True)
    return product

def Make_Order_Item_Table(df):
    order_item = df[
        ['Name', 'Lineitem sku', 'Lineitem quantity', 'Lineitem fulfillment status']
    ].copy()
    order_item['Name'] = order_item['Name'].str.replace("#", "")
    order_item.reset_index(drop=True, inplace=True)
    return order_item

# abandoned_order = Make_Order_Table(df_ab)
# abandoned_order.drop(['Financial Status', 'Paid at', 'Fulfillment Status'], axis=1)

# abandoned_order_item = Make_Order_Item_Table(df_ab)

order_item = Make_Order_Item_Table(df)
product = Make_Product_Table(df)
customer = Make_Customer_Table(df)
order = Make_Order_Table(df)

In [200]:
order

,order_id,created_at,financial_status,paid_at,fulfillment_status,fulfilled_at,accepts_marketing,currency,subtotal,shipping,...,shipping_name,shipping_address1,shipping_address2,shipping_city,shipping_zip,shipping_province,shipping_country,shipping_phone,notes,payment_method
0,195763,2023-02-15 08:24:51,paid,2023-02-15 08:24:52,fulfilled,2023-02-15 08:24:52,yes,USD,235.94,22.76,...,Jason Stuart,2739 Howell Drennen Road,NaN,Mount Sterling,'40353,KY,US,8594045356,NaN,Shopify Payments
1,195764,2023-02-15 08:40:30,paid,2023-02-15 08:40:31,fulfilled,2023-02-15 08:40:31,yes,USD,346.43,35.53,...,Brian Enstad,445 EASY ST,NaN,GOLDENDALE,98620-9037,WA,US,5092611546,Altomino Handmade Butcher Knife - Engraving te...,Shopify Payments
2,195765,2023-02-15 08:43:37,paid,2023-02-15 08:43:38,fulfilled,2023-02-15 08:43:38,yes,USD,304.43,30.96,...,Tamara Ferrigno,10887 Point Rider St,NaN,Las Vegas,'89183,NV,US,7025051050,NaN,Shopify Payments
3,195766,2023-02-15 08:49:19,paid,2023-02-15 08:49:20,fulfilled,2023-02-15 08:49:20,yes,USD,427.84,35.53,...,Michael Wheelerloo,"139 UNION ST, APT C",NaN,ASHLAND,01721-1771,MA,US,5082723832,NaN,Shopify Payments
4,195767,2023-02-15 09:17:21,paid,2023-02-15 09:17:23,fulfilled,2023-02-15 09:17:23,yes,USD,199.94,22.76,...,Joyce Thurler,1413 FOSTER AVE,NaN,JANESVILLE,53545-1082,WI,US,(608) 289-2290,NaN,Shopify Payments
5,195768,2023-02-15 10:06:15,paid,2023-02-15 10:06:17,fulfilled,2023-02-15 10:06:17,yes,USD,256.94,30.96,...,James Supple,303 MAIN ST,NaN,FRANKLIN,70538-6120,LA,US,(337) 578-2734,NaN,Shopify Payments
6,195769,2023-02-15 10:18:00,paid,2023-02-15 10:18:01,fulfilled,2023-02-15 10:18:01,yes,USD,143.46,20.07,...,Blaine Campbell,8750 HIGHWAY 77,NaN,MANSFIELD,38236-3225,TN,US,(731) 415-9151,NaN,Shopify Payments
7,195770,2023-02-15 11:08:25,paid,2023-02-15 11:08:26,fulfilled,2023-02-15 11:08:26,yes,USD,69.97,16.73,...,Michael Lucas,1704 Broadway,NaN,El Cajon,'92021,CA,US,(858) 213-7861,NaN,Shopify Payments
8,195771,2023-02-15 11:22:56,paid,2023-02-15 11:22:57,fulfilled,2023-02-15 11:22:57,yes,USD,230.44,28.48,...,Myrlene M Stimphil,13050 40 Lane N West Pal West Palm Beach FL 33411,"West Palm Beach, FL 33411",Royal Palm Beach,'33411,FL,US,5616921828,NaN,PayPal Express Checkout
9,195772,2023-02-15 11:36:59,paid,2023-02-15 12:42:29,fulfilled,2023-02-15 12:42:29,yes,USD,161.33,20.07,...,Steve Lofgren,5615 220th Street North,NaN,Forest Lake,'55025,MN,US,'+1 952-261-6119,NaN,Shopify Payments
10,195773,2023-02-15 11:51:28,paid,2023-02-15 11:51:29,fulfilled,2023-02-15 11:51:29,yes,USD,221.14,24.01,...,richard richardson,5410 189th St E,NaN,Puyallup,'98375,WA,US,2535377332,NaN,Shopify Payments
11,195774,2023-02-15 12:20:25,paid,2023-02-15 12:20:25,unfulfilled,2023-02-15 12:20:25,yes,USD,99.97,16.73,...,Russel Hadley,5005 Messing Rd,NaN,Valley Springs,'95252,CA,US,'+1 209-584-4222,NaN,Shopify Payments
12,195775,2023-02-15 12:24:04,paid,2023-02-15 12:25:21,fulfilled,2023-02-15 12:25:21,yes,USD,351.93,30.96,...,Steve Wilson,16920 FERRIS ST,NaN,GRAND HAVEN,49417-9441,MI,US,6166388844,NaN,Shopify Payments
13,195776,2023-02-15 12:28:53,paid,2023-02-15 12:28:54,fulfilled,2023-02-15 12:28:54,yes,USD,99.97,11.92,...,Clint Becnel,31595 Hwy 643,NaN,Vacherie,'70090,LA,US,2252354478,NaN,Shopify Payments
14,195777,2023-02-15 13:12:59,paid,2023-02-15 13:13:00,unfulfilled,2023-02-15 13:13:00,yes,USD,125.97,26.39,...,Zach Mutchie,9704 MURANO CT,NaN,LINCOLN,68526-9243,NE,US,(402) 318-8311,NaN,Shopify Payments
15,195778,2023-02-15 13:59:50,paid,2023-02-15 13:59:51,unfulfilled,2023-02-15 13:59:51,yes,USD,84.98,16.73,...,Merry Beth Tumlin,272 Greenhouse Rd,Guesthouse,Mineral Bluff,'30559,GA,US,4047900298,NaN,Shopify Payments
16,195779,2023-02-15 14:03:34,paid,2023-02-15 14:03:34,unfulfilled,2023-02-15 14:03:34,yes,USD,195.94,26.39,...,Ben Sharp,137 VALLEY ST,NaN,BROOKVILLE,15825-1305,PA,US,(814) 936-9028,NaN,Shopify Payments
17,195780,2023-02-15 14:13:57,paid,2023-02-15 14:13:58,unfulfilled,2023-02-15 14:13:58,yes,USD,221.16,22.76,...,ALBERT WHITE,1224 NW 24TH PL,NaN,CAPE CORAL,33993-4897,FL,US,(239) 896-8872,NaN,Afterpay (New)
18,195781,2023-02-15 14:14:29,paid,2023-02-15 14:14:30,unfulfilled,2023-02-15 14:14:30,yes,USD,214.84,30.96,...,Glen Armand,7957 WELLINGTON DR,NaN,WARRENTON,20186-9723,VA,US,(540) 907-5342,NaN,Shopify Payments
19,195782,2023-02-15 14:15:29,paid,2023-02-15 14:19:16,unfulfilled,2023-02-15 14:19:16,yes,USD,283.39,30.96,...,Chris Cartwright,722 E SOUTH AVE,NaN,HARRISON,72601-5325,AR,US,(870) 365-5315,Split order: Customer already paid for shipping,Shopify Payments
20,195783,2023-02-15 14:23:30,paid,2023-02-15 14:23:30,unfulfilled,2023-02-15 14:23:30,yes,USD,99.97,16.73,...,Courtney Novella,1288 TIPTON RD,NaN,INEZ,77968-4084,TX,US,(361) 235-0427,NaN,Shopify Payments
21,195784,2023-02-15 15:02:57,paid,2023-02-15 15:08:01,unfulfilled,2023-02-15 15:08:01,yes,USD,385.32,30.96,...,Thomas Grundig,37749 W SANTA CLARA AVE,NaN,MARICOPA,85138-5427,AZ,US,(760) 953-2948,NaN,Shopify Payments
22,195785,2023-02-15 15:07:31,paid,2023-02-15 15:07:32,unfulfilled,2023-02-15 15:07:32,yes,USD,399.94,52.20,...,Sergio Ybanez,2830 N RICARDO,NaN,MESA,85215-1054,AZ,US,6027990859,NaN,Afterpay (New)
23,195786,2023-02-15 15:27:45,paid,2023-02-15 15:27:46,unfulfilled,2023-02-15 15:27:46,yes,USD,339.91,35.53,...,MATTHEW LEEDING,2905 SW 1ST AVE,NaN,PORTLAND,97201-4705,OR,US,(503) 860-6765,NaN,Shopify Payments
24,195787,2023-02-15 15:44:46,paid,2023-02-15 15:44:46,unfulfilled,2023-02-15 15:44:46,yes,USD,212.96,30.96,...,James Moore,7120 East Apache Street,NaN,Tulsa,'74115,OK,US,(918) 629-9999,NaN,Shopify Payments
25,195788,2023-02-15 15:52:25,paid,2023-02-15 15:52:26,unfulfilled,2023-02-15 15:52:26,yes,USD,112.15,20.07,...,DOMINIQUE COLE,312 W MULBERRY ST,NaN,WINSLOW,86047-3449,AZ,US,(928) 587-1118,NaN,PayPal Express Checkout
26,195789,2023-02-15 16:06:46,paid,2023-02-15 16:09:28,unfulfilled,2023-02-15 16:09:28,yes,USD,268.52,30.96,...,Charles Davis,8888 Eastaboga Rd,NaN,Eastaboga,'36260,AL,US,6784712911,NaN,Shopify Payments
27,195790,2023-02-15 16:18:58,paid,2023-02-15 16:19:00,unfulfilled,2023-02-15 16:19:00,yes,USD,373.92,35.53,...,Jorge Eduardo,30 East 27th Street,NaN,Bayonne,'07002,NJ,US,2014553014,Altomino Tungsten Steel Slicing Knife - Engrav...,Shopify Payments
28,195791,2023-02-15 16:34:00,paid,2023-02-15 16:34:01,unfulfilled,2023-02-15 16:34:01,yes,USD,99.97,16.73,...,steve Aragon,"2100 NEVIN AVE, UNIT 301",NaN,RICHMOND,94801-3356,CA,US,(510) 680-0513,NaN,Afterpay (New)
29,195792,2023-02-15 16:59:01,paid,2023-02-15 16:59:02,unfulfilled,2023-02-15 16:59:02,yes,USD,99.97,16.73,...,Scott Dye,4 Eton Way,NaN,Mill Valley,'94941,CA,US,4152508785,NaN,Shopify Payments
30,195793,2023-02-15 17:05:13,paid,2023-02-15 17:05:14,unfulfilled,2023-02-15 17:05:14,yes,USD,99.97,16.73,...,Kelli Mitter,1817 Old Washington Road,NaN,Westminster,'21157,MD,US,4436946816,NaN,Shopify Payments
31,195794,2023-02-15 17:10:16,paid,2023-02-15 17:10:17,unfulfilled,2023-02-15 17:10:17,yes,USD,161.33,20.07,...,Haley Toups,"14401 COURTNEY RD, APT 22",NaN,WALKER,70785-4640,LA,US,2252094204,NaN,Shopify Payments
32,195795,2023-02-15 17:22:55,paid,2023-02-15 17:22:57,unfulfilled,2023-02-15 17:22:57,yes,USD,212.44,28.48,...,Anthony Zorich,11920 131st St Ct E,NaN,Puyallup,'98374,WA,US,4258301638,NaN,Shopify Payments
33,195796,2023-02-15 17:31:13,paid,2023-02-15 17:31:13,unfulfilled,2023-02-15 17:31:13,yes,USD,79.98,16.73,...,Jason Michalik,1087 CANAL DR,NaN,GARDNERVILLE,89410-6118,NV,US,7757903849,NaN,Shopify Payments
34,195797,2023-02-15 17:45:26,paid,2023-02-15 17:45:27,unfulfilled,2023-02-15 17:45:27,yes,USD,306.94,35.53,...,Toby Zanotti,4269 SE BARTON LN,NaN,CORVALLIS,97333-9412,OR,US,(541) 971-5048,NaN,Shopify Payments
35,195798,2023-02-15 17:49:40,paid,2023-02-15 17:49:40,unfulfilled,2023-02-15 17:49:40,yes,USD,99.97,16.73,...,Crystal Kulpcavage,1226 CLEVELAND AVE,NaN,WYOMISSING,19610-2102,PA,US,5706409086,NaN,Shopify Payments
36,195799,2023-02-15 18:00:26,paid,2023-02-15 18:00:27,unfulfilled,2023-02-15 18:00:27,yes,USD,146.94,20.07,...,Rabecka Bourdeaux,4175 WELLINGTON,NaN,JACKSON,49201-7151,MI,US,(503) 734-7156,Promaja - Engraving text: TAC\n===,Afterpay (New)
37,195800,2023-02-15 18:59:04,paid,2023-02-15 18:59:05,unfulfilled,2023-02-15 18:59:05,yes,USD,275.44,30.96,...,Cassidy Murphy,2387 POINT OF PINES DR,NaN,BOULDER,80302-9451,CO,US,(303) 330-3005,NaN,Shopify Payments
38,195801,2023-02-15 21:38:35,paid,2023-02-15 21:38:37,unfulfilled,2023-02-15 21:38:37,yes,USD,241.94,30.96,...,Michelle Hillabold,795 Ne Lillian St,NaN,Myrtle Creek,'97457,OR,US,1 (541) 670-8529,NaN,PayPal Express Checkout
39,195802,2023-02-15 21:47:59,paid,2023-02-15 21:48:44,unfulfilled,2023-02-15 21:48:44,yes,USD,263.41,26.39,...,Lonnie Stresemann,602 LEVEE BLVD,NaN,SAINT JAMES,56081-1312,MN,US,5073178368,NaN,Shopify Payments
40,195803,2023-02-15 23:21:35,pending,2020-01-01 00:00:00,fulfilled,2020-01-01 00:00:00,no,USD,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,195804,2023-02-15 23:39:15,paid,2023-02-15 23:39:16,unfulfilled,2023-02-15 23:39:16,yes,USD,131.94,20.07,...,Russell Gundy,183 RAYMOND BLVD,NaN,NEWARK,07105-4725,NJ,US,9087186793,NaN,Shopify Payments
42,195805,2023-02-16 00:05:28,paid,2023-02-16 00:05:29,unfulfilled,2023-02-16 00:05:29,yes,USD,399.93,35.53,...,ALLAN KERN,8784 rt 22,NaN,NEW ALEXANDRIA,'15670,PA,US,(724) 858-9538,NaN,PayPal Express Checkout
43,195806,2023-02-16 00:06:01,paid,2020-01-01 00:00:00,fulfilled,2020-01-01 00:00:00,yes,USD,125.97,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,195807,2023-02-16 00:40:02,paid,2020-01-01 00:00:00,fulfilled,2020-01-01 00:00:00,yes,USD,125.97,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,195808,2023-02-16 00:55:32,paid,2020-01-01 00:00:00,fulfilled,2020-01-01 00:00:00,yes,USD,125.97,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,195809,2023-02-16 01:29:53,paid,2023-02-16 01:29:54,unfulfilled,2023-02-16 01:29:54,yes,USD,131.94,20.07,...,Robert Wilson,505 HERON LANDING RD,NaN,SAINT JOHNS,32259-7075,FL,US,5612027090,NaN,Shopify Payments
47,195810,2023-02-16 02:23:28,paid,2023-02-16 02:23:29,unfulfilled,2023-02-16 02:23:29,yes,USD,227.96,30.96,...,BeeJack Vang,700 STOCKDALE RD,NaN,VADNAIS HEIGHTS,55127-7527,MN,US,(651) 338-1547,NaN,PayPal Express Checkout
48,195811,2023-02-16 03:47:53,paid,2023-02-16 03:47:54,unfulfilled,2023-02-16 03:47:54,yes,USD,256.83,24.01,...,Brian Robin,123 MELROSE DR,NaN,DESTREHAN,70047-2117,LA,US,5046280272,NaN,Afterpay (New)
49,195812,2023-02-16 03:58:34,paid,2023-02-16 03:58:36,unfulfilled,2023-02-16 03:58:36,yes,USD,131.94,20.07,...,Patresia Borden,1422 HIGHFIELD CT,NaN,CHARLOTTE,28216-1827,NC,US,(704) 651-0354,NaN,PayPal Express Checkout

In [198]:
# order.to_csv('orders_table.csv',index = False)

In [218]:
# customer.fillna(0,inplace = True)

# Transfer to DB

In [211]:
import mysql.connector as msql
from mysql.connector import Error

try:
    conn = msql.connect(user='root', password='arm2002',
                              host='127.0.0.1', database='coolina',
                              auth_plugin='mysql_native_password')
    if conn.is_connected():
        cursor = conn.cursor()
#         cursor.execute("CREATE DATABASE irisDB")
        print("irisDB database is created")

except Error as e:
    print("Error while connecting to MySQL", e)

irisDB database is created

In [221]:
try:
    conn = msql.connect(user='root', password='arm2002',
                        host='127.0.0.1', database='coolina',
                        auth_plugin='mysql_native_password')
    
    
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

        for i,row in customer.iterrows():
            sql = "INSERT IGNORE INTO coolina.customer VALUES (%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not autocommitted by default, so we must commit to save our changes
            conn.commit()
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  ('coolina',)
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted